In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/usda.csv')

In [3]:
df

,Symbol,Synonym Symbol,Scientific Name with Author,Common Name,Family
0,ABAB,NaN,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,shrubby Indian mallow,Malvaceae
1,ABAB,ABAM5,Abutilon americanum (L.) Sweet,NaN,NaN
2,ABAB,ABJA,Abutilon jacquinii G. Don,NaN,NaN
3,ABAB,ABLI,Abutilon lignosum (Cav.) G. Don,NaN,NaN
4,ABAB70,NaN,Abietinella abietina (Hedw.) Fleisch.,abietinella moss,Thuidiaceae
...,...,...,...,...,...
90904,ZYVIR,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,NaN,NaN
90905,ZYVIR,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,NaN,NaN
90906,ZYVIR,ZYVU,Zygodon vulgaris (Malta) Nyholm,NaN,NaN
90907,ZYVIV,NaN,Zygodon viridissimus (Dicks.) Brid. var. virid...,zygodon moss,Orthotrichaceae
90908,ZYVIV,ZYVID,Zygodon viridissimus (Dicks.) Brid. var. denta...,NaN,NaN