In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/final.csv')
df.head()

,artist_full_name,cultivar_name,fruit_common_name,fruit_origin_country,fruit_origin_polity,fruit_scientific_name,fruit_variety,image_created_year,image_url,is_originpolity_largest_producer,is_usda_recognized_plant_family,pomological_Id
0,Passmore Deborah Griscom,citrus,oranges,United States,California,citrus sinensis,Navelencia,NaN,/POM00006406.jpg,False,True,POM00006406
1,Passmore Deborah Griscom,citrus,oranges,United States,California,citrus sinensis,Navelencia,1908.0,/POM00006407.jpg,False,True,POM00006407
2,Newton Amanda Almira,citrus,oranges,United States,California,citrus sinensis,New,1914.0,/POM00006463.jpg,False,True,POM00006463
3,Newton Amanda Almira,citrus,oranges,United States,California,citrus sinensis,New,1914.0,/POM00006465.jpg,False,True,POM00006465
4,Schutt Ellen Isham,citrus,oranges,NaN,NaN,citrus sinensis,No. 779,1906.0,/POM00006446.jpg,False,True,POM00006446

# From our final dataset, what column has the most null or malformed values?

In [3]:
missing_df = pd.DataFrame(df.count())
missing_df

                                     0
artist_full_name                  7364
cultivar_name                     6935
fruit_common_name                 7582
fruit_origin_country              7086
fruit_origin_polity               6990
fruit_scientific_name             7584
fruit_variety                     6865
image_created_year                7217
image_url                         7584
is_originpolity_largest_producer  7584
is_usda_recognized_plant_family   7584
pomological_Id                    7584

In [4]:
def na_values(x):
    return 7584 - x

missing_df['missing']=missing_df.apply(lambda x: na_values(x))
missing_df

                                     0  missing
artist_full_name                  7364      220
cultivar_name                     6935      649
fruit_common_name                 7582        2
fruit_origin_country              7086      498
fruit_origin_polity               6990      594
fruit_scientific_name             7584        0
fruit_variety                     6865      719
image_created_year                7217      367
image_url                         7584        0
is_originpolity_largest_producer  7584        0
is_usda_recognized_plant_family   7584        0
pomological_Id                    7584        0

In [5]:
df.count().idxmin()

'fruit_variety'

# By this analysis, the column with the most null or malformed values is fruit variety